header {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    padding: 0px 25px;
}

body {
    background-image: url("../img/pattern.jpg");
    margin: 0px;
}

section {
    padding: 20px 25px;
    margin: 10% 15%;
    background-color: white;
}

h1{
    text-align: center;
    
}

a {
   text-decoration: none; 
}

article {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: small;
}



li {
    list-style: none;
    display: inline;
    margin: 10px;    
}


